.home {
    padding: 56px 20px;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.title {
    height: 10%;
}

.gameRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

.gameCircle {
	width: 80px;
	height: 80px;
	margin: 5px;
	text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    color: white;
}

.numbersRow {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.megasena {
    background-color: #209869;
}

.lotofacil {
    background-color: #930089;
}

.quina {
    background-color: #260085;
}

.lotomania {
    background-color: #F78100;
}

.timemania {
    background-color: #00FF48;
}

.duplasena {
    background-color: #BF194E;
}

.diaDeSorte {
    background-color: #CB852B;
}
